    {% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block css %}
	<link rel="stylesheet" href="{{ root }}/public/style/css/Accueil.css">
{% endblock %}

{% block body %}
    {{ parent() }}

	<div class="pannelBtn">

		<a href="{{ root }}/creneau">
			<div class="bouton">
				<i class="far fa-clock fa-3x"></i>
			    </br>
			    <p>Gérer les créneaux</p>
		    </div>
	    </a>

	    <a href="{{ root }}/programme">
		    <div class="bouton">
			    <i class="fas fa-align-left fa-3x"></i>
		        </br>
		        <p>Gérer les programmes</p>
	        </div>
        </a>

        <a href="{{ root }}/actualite">
	        <div class="bouton">
                <i class="far fa-calendar-alt fa-3x"></i>
                </br>
                <p>Gérer les actualités</p>
            </div>
        </a>

        <a href="{{ root }}/emission">
            <div class="bouton">
                <i class="fas fa-podcast fa-3x"></i>
                </br>
                <p>Gérer les émissions</p>
            </div>
        </a>

        {% if session.user.droit == 2 %}
            <a href="{{ root }}/ajoutStaff">
                <div class="bouton">
                    <i class="fas fa-user-plus fa-3x"></i>
                    </br>
                    <p>Ajouter un membre du staff</p>
                </div>
            </a>
            <a href="{{ root }}/listeUsers">
                <div class="bouton">
                    <i class="far fa-id-badge fa-3x"></i>
                    </br>
                    <p>Voir la liste des comptes</p>
                </div>
            </a>
        {% endif %}
        
    </div>

{% endblock %}
