{% extends "Template.html.twig" %}
{% set root = base_url() %}

{% block css %}
	<link rel="stylesheet" href="{{ root }}/public/style/css/Creneau.css">
{% endblock %}

{% block body %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ root }}/public/style/css/AjoutStaff.css">

	<div class="container">
		<div class="row main">
			<div class="panel-heading col-6 mx-auto">
				<div class="panel-title text-center">
					<h1 class="title">Ajouter un créneau</h1>
				</div>
			</div>
			<div class="main-register main-center col-6">
				<form action="{{ root }}/addCreneau" method="post" class="row">

					<div class="form-group">
						<i class="fas fa-broadcast-tower"></i>
						<label for="emission" class="cols-sm-2 control-label">Emission</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<select class="custom-select" id="emission" name="emission">
									{% for emission in emissions %}
										<option value="{{ emission.emission_id }}">
											{{emission.titre}}
										</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<i class="fas fa-calendar-day"></i>
						<label for="password" class="cols-sm-2 control-label">Date</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input class="form-control" type="date" id="date" name="date">
							</div>
						</div>
					</div>

					<div class="form-group">
						<i class="fas fa-hourglass-start"></i>
						<label for="droit">Heure de début</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input class="form-control" type="time" id="hdd" name="hdd" step="60">
							</div>
						</div>
					</div>
					<div class="form-group">
						<i class="fas fa-hourglass-end"></i>
						<label for="droit">Heure de fin</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input class="form-control" type="time" id="hdf" name="hdf">
							</div>
						</div>
					</div>

					<div class="form-group ">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Ajouter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
