{% extends "Template.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="{{ base_url() }}/public/style/css/AnimationEmission.css">
{% endblock %}

{% block body %}

    <input type="hidden" name="route" id="route" value="{{ base_url() }}">
    <input type="hidden" name="emission_id" id="emission_id" value="{{ emission_id }}">
    <h1>{{ programmeNom }}</h1>
    <h2>émission du {{ creneau.date }} de {{ creneau.debut }} à {{ creneau.fin }}</h2>

    <div id="onAir">
        <h3>On Air</h3>
    </div>

    <div id="content">

        <div id="timer">
            0:00
        </div>

        <div id="actions">
            <button id="lancerEnregistrement" class="btn btn-info btn-block"><i class="fas fa-microphone-alt">&emsp;</i>Lancer Enregistrement</button>
            <button id="finEmission" class="btn btn-info btn-block"><i class="fas fa-stop-circle">&emsp;</i>Terminer l'émisson</button>
        </div>

        <div id="musiques">

            <h5>Vos musiques</h5>
            <form>
                <input type="file" name="songs" id="songs" accept="audio/*" multiple>
            </form>

            <ul id="musiquesList">

            </ul>

        </div>
    </div>

    <footer id="#footer">
        Temps total de l'émission : 00 h 00 min 00 s

        <div id="testAudio">
            <audio id="testEcoute" src="" controls>
            </audio>
        </div>

    </footer>

{% endblock %}

{% block script %}
    <script src="{{ base_url() }}/public/js/animationEmission.js"></script>
{% endblock %}