{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block script %}
	<script src="{{ root }}/public/js/Creneau.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ root }}/public/style/css/Creneau.css">
{% endblock %}

{% block body %}
    {{ parent() }}
	<div class="titre">
		<a href="{{ root }}/addCreneau"><i class="fas fa-plus-circle fa-3x" style="margin-right:15px;"></i></a>
		<h1>Gestion des Créneaux</h1>
	</div>

	<div class="legend">
		<h4>
			Légende
		</h4>
		<div class="pannelLegende">
			<ul class='legendLabels'>
				<li>
					<span style='background:white;'></span>Créneau Libre</li>
				<li>
					<span style='background:Bisque;'></span>Créneau non attribué</li>
				<li>
					<span style='background:lightgreen;'></span>Créneau attribué</li>
			</ul>
		</div>
	</div>

	<div class="containerC">
		{# En attendant le js je test en dur #}
        {% if creneaux is empty %}
			<span style="color:white;"> Aucun créneau trouvé. </span>
        {%  endif %}

        {% for key,creneau in creneaux %}
		<div class="creneau">
            <div class="time">
                <span class="date"> Tous les lundi</span></br></br>
                <span class="heure"> {{creneau.heure_debut}} - {{creneau.heure_fin}}</span>
            </div>
            <div class="logo">
                <ul>
                    <a href="#" class="supprCreneau" data-id="{{ creneau.creneau_id }}"><li><i class="far fa-trash-alt fa-lg"></i></li></a>
                    <a href="{{ path_for('modifCreneau', {'id' : creneau.creneau_id } ) }}" <li><i class="far fa-edit fa-lg"></i></li></a>
                </ul>
            </div>
            <div class="detail">
                <span class="programme"> {{userEmission[key].emission}}</span></br></br>
                <span class="anim"> animé par {{userEmission[key].user}}</span>
            </div>
        </div>
		{% endfor %}
	</div>
{% endblock %}
