{% extends "Template.html.twig" %}
{% set root = base_url() %}

{% block script %}
	<script src="{{ root }}/public/js/Creneau.js"></script>
{% endblock %}

{% block body %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ root }}/public/style/css/AjoutStaff.css">

	<div class="container">
		<div class="row main">
			<div class="panel-heading col-6 mx-auto">
				<div class="panel-title text-center">
					<h1 class="title">Modification d'un Programme</h1>
				</div>
			</div>
			<div class="main-register main-center col-6">
				<form action="{{ root }}/modifProgramme{{programme.programme_id}}" method="post" class="row">

					<div class="form-group">
						<i class="fas fa-portrait"></i>
						<label for="nom" class="cols-sm-2 control-label">Nom</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<input type="text" class="form-control" name="nom" id="nom" value="{{programme.nom}}"/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<i class="fas fa-paragraph"></i>
						<label for="desc" class="cols-sm-2 control-label">Description</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<textarea class="form-control" name="desc" id="desc" rows="3">{{programme.description}}</textarea>
							</div>
						</div>
					</div>

					<div class="form-group ">
						<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Modifier</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
