{% extends "Navbar.html.twig" %}
{% set root = base_url() %}
{% block html %}
	<!doctype html>
	<html lang="fr">
		<head>
			{% block head %}
				{{ parent() }}
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<script src="{{ root }}/public/lib/notify.min.js"></script>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
			<link rel="icon" type="image/png" href="{{ root }}/public/images/logo_netradio.png" />
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="{{ root }}/public/style/css/style.css">
			<link rel="stylesheet" href="{{ root }}/public/lib/style/css/all.min.css">

			{% block css %}{% endblock %}
			{% block script %}{% endblock %}

			<title>Net'Radio</title>
			{% endblock %}
		</head>
		<body>

			{% block body %}
				{{ parent() }}
			{% endblock %}
		</body>
	</html>
{% endblock %}
