{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block head %}
<!--  block head qui hérite de son parent, template.html.twig. On y ajoute le css désiré -->
{{ parent() }}
<link rel="stylesheet" href="{{ root }}/public/style/css/Direct.css"> 
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="col-lg-6 mx-auto my-5 col-sm-8 col-10 leDirect py-3">

    <div class="fonctionsDirect text-center">
        <audio id="audioPlayer" ontimeupdate="update(this)">
            <source src="{{base_url()}}/../animateur/{{emissionMtn.fichier}}" type="audio/ogg" />
            <source src="{{base_url()}}/../animateur/{{emissionMtn.fichier}}" type="audio/mp3" />
            Votre navigateur ne supporte pas la balise AUDIO.
        </audio>

        <a type="button" class="btn-floating deep-orange waves-effect waves-light control" onclick="play('audioPlayer', this, {{creneauMtn}})"><i class="fas fa-play" id="iconeAudio"></i></a>
        <a type="button" class="btn-floating deep-orange waves-effect waves-light control" onclick="resume('audioPlayer')"><i class="fas fa-stop" aria-hidden="true"></i></a>

        <div class="volumeicone">
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="volume" id="volume">
            </div>
            <i class='fas fa-volume-up'></i>
        </div>
    </div>


        <div class="text-center onair">
            <img src="http://en.sopah.com/files/12/on_air.gif">
        </div>

    </div>

    <div class="mx-auto mb-3 infosEmission col-lg-5 col-sm-8 col-8 mt-5 p-2">
        <h3 class="titrePasEmis text-center">Vous écoutez <b>{{titreEmissionMtn}}</b>.</h3> 
        <div class="lds-spin mx-auto">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="text-center">
            <p>'{{ descriptionMtn }}'</p>
        </div>

        <div class="infoDirect text-center">
            <p>Fin de l'émission à : <b>{{ creneauMtn.heure_fin }}</b></p>
        </div> 
        <hr>
        
        {% if emissionsAvenir is empty %}
            <p class="text-center">Il n'y a pas d'émissions prévues aujourd'hui</p>
        {% else %}
            <p class="text-center">La prochaine émission, <b>{{titreProchaineEmis}}</b> arrive à <b>{{heureProchEmiss}}</b></p>
            <p class="text-center">Les émissions d'aujourd'hui :</p>
            <ul class="text-center">
            {% for emissionsAjd in emissionsAvenir %}
                <li><b>{{ emissionsAjd.titre}}</b></li>
            {% endfor %}
            </ul>            
        {% endif %}
        {% if emissionsPassees is empty %}
            <p class="text-center">Vous n'avez raté aucune émission aujourd'hui</p>
        {% else %}
            <p class="text-center">Plus tôt dans la journée : </p>
            <ul class="text-center">
            {% for emissionsPass in emissionsPassees %}
                <li><b>{{ emissionsPass.titre}}</b></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="mx-auto pasEmission col-lg-5 col-sm-8 col-8 mt-5 p-2">
        <h3 class="titrePasEmis text-center">Pas d'émission actuellement.</h3> 
        {% if emissionsAvenir is empty %}
            <p class="text-center">Il n'y a pas d'émissions prévues aujourd'hui</p>
        {% else %}
            <p class="text-center">La prochaine émission, <b>{{titreProchaineEmis}}</b> arrive à <b>{{heureProchEmiss}}</b></p>
            <p class="text-center">Les émissions d'aujourd'hui :</p>
            <ul class="text-center">
            {% for emissionsAjd in emissionsAvenir %}
                <li><b>{{ emissionsAjd.titre}}</b></li>
            {% endfor %}
            </ul>            
        {% endif %}
        {% if emissionsPassees is empty %}
            <p class="text-center">Vous n'avez raté aucune émission aujourd'hui</p>
        {% else %}
            <p class="text-center">Plus tôt dans la journée : </p>
            <ul class="text-center">
            {% for emissionsPass in emissionsPassees %}
                <li><b>{{ emissionsPass.titre}}</b></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>

<script>

// Gestion du volume récupérant le valeur du slider divisée par 100 pour le format audio
let slider = document.getElementById("volume");


slider.oninput = function() {
    volume('audioPlayer', this.value/100)
}

function play(idPlayer, control, crenMtn) {
    let player = document.querySelector('#' + idPlayer);
    let btnPlPau = document.querySelector('.btn-floating');
    let leDirect = document.querySelector('.leDirect');
    let msgPasEmission = document.querySelector('.pasEmission');
    let msgEmissionMtn = document.querySelector('.infosEmission');
    let onair = document.querySelector('.onair');
    let icone = document.querySelector('#iconeAudio');
    let datCren = new Date();
    let datActu = new Date();
    let debutCren;

    // Test si on est actuellement dans un créneau
    if (crenMtn)
    {
        msgEmissionMtn.style.display = "block";
        

        // On split l'heure de début pour pouvoir utiliser setHours
        let heureCrenConvert = crenMtn.heure_debut.split(":");
        //On a donc l'heure du début du créneau
        debutCren = datCren.setHours(heureCrenConvert[0], heureCrenConvert[1], heureCrenConvert[2]);

        // Obtention de l'heure actuel en milliseconds
        let actuHour = datActu.getTime();

        // Différence entre l'heure actuelle et le début du créneau converti en seconds
        let diffDirect = (actuHour - debutCren) / 1000;

        // Initialisation d'une première class pour l'icone
        icone.classList.add("fas");

        // Si direct est mis en pause :
        if (player.paused) {
            // Départ du direct au nombre de secondes écoulées depuis le début du créneau
            player.currentTime = diffDirect;
            player.play();
            onair.style.display = "block";
            icone.classList.remove("fa-play");
            icone.classList.add("fa-pause");
            
        } else {
            player.pause();	
            icone.classList.remove("fa-pause");
            icone.classList.add("fa-play");
        }
    }
    else
    {
        msgPasEmission.style.display = "block";
        return;
    }
	
}

function resume(idPlayer) {
    let icone = document.querySelector('#iconeAudio');

    let player = document.querySelector('#' + idPlayer);
	
    player.currentTime = 0;
    icone.classList.remove("fa-pause");
    icone.classList.add("fa-play");
    player.pause();
}

function volume(idPlayer, vol) {
    let player = document.querySelector('#' + idPlayer);
    player.volume = vol;	
}

function update(player) {
    let duration = player.duration;    // Durée totale
    let time     = player.currentTime; // Temps écoulé
    let fraction = time / duration;
    let percent  = Math.ceil(fraction * 100);

    let progress = document.querySelector('#progressBar');
	
    progress.style.width = percent + '%';
    progress.textContent = percent + '%';
}


</script>
{% endblock %}
