{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block head %}
<!--  block head qui hérite de son parent, template.html.twig. On y ajoute le css désiré -->
{{ parent() }}
<link rel="stylesheet" href="{{ root }}/public/style/css/Compte.css"> 
<script src="{{ root }}/public/js/monCompte.js"></script>
{% endblock %}

{% block body %}
{{ parent() }}
    <div class="col-lg-4 col-sm-6 col-6 mx-auto my-5 manageAcc">
        <div class="col-sm-8 mx-auto">  
            <h1 class="titre-compte pt-2"><i class="far fa-user"></i> {{ utilisateur.identifiant }}</h1>
        </div>
        <div class="divForm container-fluid col-sm-8 col-lg-8">
            <div class="infoCompte">
                <h5 class="email" for="email"><i class="fas fa-at"></i> Mail : {{ utilisateur.email }}</h5>
            </div>

            <div class="form-group btn-gestion col-12">
                <button class="btn btn-changeLogin mr-2 mb-2 mt-2" data-toggle="modal" data-target="#modalNewLogin" type="button"><i class="fas fa-user-cog"></i> Changer mon login</button>
                <button class="btn btn-changeMdp mb-3" role="button" href=" "><i class="fas fa-key"></i> Changer mon mot de passe</button>
            </div>
        </div>
    </div>



    <div role="dialog" class="modal-login modal fade" id="modalNewLogin" aria-hidden="true" tabindex="-1">
        <div id="editLogin" class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="col-sm-10 mx-auto modal-header">
                    <h2 class="titre mb-3 mt-3"><i class="far fa-user"></i> Modification de mon identifiant</h1>
                </div>
                <div class="divModal container-fluid col-sm-8 col-lg-8 modal-body">
                    <div class="divLogin">
                        <label class="loginActuel">Votre identifiant actuel est <b> {{ utilisateur.identifiant }}</b></label>
                    </div>

                    <div class="divLoginModif">
                        <label class="lblNewLogin">Veuillez entrer votre nouvel identifiant :</label>
                        <input type="text" class="form-control newLogin" id="newLogin" name="newLogin" placeholder="Ex : Allan42">

                    </div>
                </div>

                <div class="modal-footer col-sm-10 mx-auto">
                    <div class="btn-newLogin col-12">
                        <button class="btn btn-confirm btn-success mb-2 mt-2" data-id="{{ session.user.id }}"><i class="fas fa-check"></i> Confirmer</button>
                        <button class="btn btn-close btn-secondary mb-2 mt-2" data-dismiss="modal"><i class="fas fa-check"></i> Annuler</button>

                    </div>
                </div>

            </div>
        </div>
    <div>


{% endblock %}