{% extends 'Template.html.twig' %}
{% set root = base_url() %}

{% block head %}
<!--  block head qui hérite de son parent, template.html.twig. On y ajoute le css désiré -->
{{ parent() }}
<link rel="stylesheet" href="{{ root }}/public/style/css/Planning.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="col-lg-10 mx-auto my-5 col-sm-10 col-10 lePlanning py-3 table-responsive">
    {% if creneauAvenir is empty %}
        <h3 class="text-center">Aucune émission n'est prévue</h3>
    {% else %}
    {# Initialisation d'une variable compteur qui empechera de passer plusieurs fois dans la boucle des animateurs et donc ne renverra qu'une seule fois l'animateur #}
    {% set cmptAnim = 0 %}
    {% set cmptDate = 0 %}
    {% set cmptProg = 0 %}

        <table id="tablePlanning" class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>Emission</th>
                    <th>Date</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Programme</th>
                    <th>Animé par</th>
                </tr>
            </thead>
            <tbody>
            {# Parcours des emissions à venir pour afficher seulement le titre #}
            {% for lesCreneaux in creneauAvenir %}
                <tr>
                    <td>{{lesCreneaux.creneau_id}}</td>
                {# Selon l'emission à venir, récupérer sa date et ses horaires provenant des créneaux à venir en comparant les emissions_id de chacune des deux tables #}
                {% for lesEmissions in emissionsAvenir %}
                    {% if lesEmissions.emission_id == lesCreneaux.emission_id and cmptDate == 0 %}
                    <td>{{ lesEmissions.titre }}</td>
                    {# Donc si les emissions_id des deux tables correspondent, on affiche la date et l'horaire #}
                        <td>{{lesCreneaux.date_creneau}}</td>
                        <td>{{lesCreneaux.heure_debut}}</td>
                        <td>{{lesCreneaux.heure_fin}}</td>
                        {% set cmptDate = cmptDate + 1 %}
                        {# En parcourant tous les programmes à venir... #}
                        {% for lesProgrammes in programmes %}
                            {# Comparer les programme_id des émissions à venir avec les programme_id de tous les programmes à venir pour afficher le nom du programme  #}
                            {% if lesEmissions.programme_id == lesProgrammes.programme_id and cmptProg == 0 %}
                                <td>{{ lesProgrammes.nom}}</td>
                                {% set cmptProg = cmptProg + 1 %}
                                {# Puis on parcours tous les animateurs des émissions à venir... #}
                                {% for lesAnimateurs in animateurs %}
                                    {# Pour comparer les animateur des émissions à venir avec les utilisateur_id des animateurs, et afficher leur identifiant #}
                                    {% if lesEmissions.animateur == lesAnimateurs.utilisateur_id and cmptAnim == 0 %}
                                        <td>{{ lesAnimateurs.identifiant }}</td>
                                        {% set cmptAnim = cmptAnim + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% set cmptAnim = 0 %}
                            {% endif %}
                        {% endfor %}
                        {% set cmptProg = 0 %}
                    {% endif %}
                {% endfor %}
                {% set cmptDate = 0 %}
            {% endfor %}
            
        </table>
    {% endif %}
    </div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
$('#tablePlanning').DataTable({
    "order": [[1, "asc"]],
    "aLengthMenu": [5,10,15],
    "iDisplayLength": 5
});
$('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}