{% extends 'Template.html.twig' %}
{% set root = base_url() %}
{% block body %}
    <link rel="stylesheet" href="{{ root }}/public/style/css/Programme.css">
    {{ parent() }}

    <div>
        Barre de recherche
    </div>

    <br>

    <div class="conteneur-programmes">
    {% for programme in programmes %}
        <div class="" style="border-width: 2px; border-color:red; border-style: solid;">
            <h4>{{programme.nom}}</h4>
            <p>{{programme.description}}</p>
            <a class="btn btn-outline-primary" href="{{ root }}/emissions/{{ programme.programme_id }}">Voir</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}